<div class="col-md-12">
   <div class="row box">
     <div class="box-inner col-md-12 col-md-offset-0">
       <h1 class="title">Let's together</h1>
       <h3 class="slogan">一 起 学 习 心 理 学</h3>
       <h2 class="lead"><<%= link_to 'GO', groups_path %></h2>
     </div>
   </div>
 </div>

 <div class="content-section-a">
   <div class="container">
     <div class="row">
       <div class="col-lg-5 col-lg-offset-0 col-sm-6">
         <%= image_tag '2-20.jpg', class: 'img-responsive' %>
       </div>
       <div class="col-lg-5 col-lg-offset-1 col-sm-push-1 col-sm-6">
         <hr class="section-heading-spacer">
         <div class="clearfix"></div>
         <h2 class="section-heading">认知心理</h2>
         <p class="lead">大数据时代初现端倪
           <br>学习进入认知为王的时代
           <br>元认知助你掌控情绪
           <br>认知科学助你迅速入门
        </p>
       </div>
     </div>
   </div>
 </div>

 <div class="content-section-b">
   <div class="container">
     <div class="row">
       <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
         <hr class="section-heading-spacer">
         <div class="clearfix"></div>
         <h2 class="section-heading">亲密关系</h2>
         <p class="lead"> 原生家庭是我们的过去
           <br>也是我们未来的羁绊
           <br>新生家庭是人生的新起点
           <br>却也必然牵连于过去
         </p>
       </div>
       <div class="col-lg-5 col-sm-pull-6  col-sm-6">
         <%= image_tag '3-25.png', class: 'img-responsive' %>
       </div>
     </div>
   </div>
 </div>

 <div class="content-section-a">
   <div class="container">
     <div class="row">
       <div class="col-lg-5 col-lg-offset-0 col-sm-6">
         <%= image_tag 'aa-1.png', class: 'img-responsive' %>
       </div>
       <div class="col-lg-5 col-lg-offset-1 col-sm-push-1 col-sm-6">
         <hr class="section-heading-spacer">
         <div class="clearfix"></div>
         <h2 class="section-heading">习得性无助</h2>
         <p class="lead"> 悲伤痛苦，为什么总是不断浮现？
           <br>相似场景，为什么总是不断上演？
           <br>它们或许只是因为我们意识的失控
           <br>让我们回到源头，找到失控的起点
         </p>
       </div>

     </div>
   </div>
 </div>
